{# Footer #}
<footer class="container-fluid mt-5 py-5" id="footer">
    <div class="row justify-content-around">
        <div class="col-md-3-offset mb-3">
            <h5>Coordonnées</h5>
            <small>Cyril Gallitre, 06 87 10 52 61</small>
        </div>
        <div class="col-md-3-offset mb-3 ">
            <h5>Mentions légales</h5>
            <p><small>Siret N°xxxxxxx, TVA n°aaaaaa</small></p>
            <small>Photos :
                <ul>
                    <li><a href="http://www.freepik.com">Designed by pch.vector / Freepik</a></li>
                    {# <li>Header photo by <br><a href="https://unsplash.com/@courtneycorlew">Courtney Corlew</a> on <a href="https://unsplash.com">Unsplash</a></li> #}
            </small>
            </ul>
        </div>
        <div class="col-md-3-offset mb-3">
            <h5>Qui suis-je ?</h5>
            <small>Indépendant depuis 1997, blablabla</small>
        </div>
    </div>
</footer>