{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'un thème{% endblock %}

{% block body %}
<div class="container">
    {% include 'admin/partials/titlePage.html.twig' with { 'titlePage' : 'Modification d\'un thème' } %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Modifier le thème</button>

    {{ form_end(form) }}
</div>
{% endblock %}