[class*="reveal-"] {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 1s;
}

.reveal-2 {
  transition-delay: 0.1s
}

.reveal-3 {
  transition-delay: 0.2s
}

.reveal-4 {
  transition-delay: 0.3s
}

.reveal-5 {
  transition-delay: 0.4s
}

.reveal-6 {
  transition-delay: 0.5s
}