
#slider {
    background: center / cover url('../img/slider.jpg') no-repeat;
}

.title-line{
    font-size: 0.8em;
    color:#E95420;
    text-align:center;
}

hr{
    padding: 0 0 0 0;
    width:25%;
    margin:-30px auto 5rem auto;
    border: 1px solid #d3d3d3;
}

#portfolio{
    background-color: #E9ECEF;
}

#footer {
    background-color: rgb(110, 110, 110);
    color: white;
}

.icones-blanc { color:#fff; }
.icones-gris { color: #f0f0f0; }
.icones-blanc { color:#fff; }