body {
  padding-top: 55px;
  overflow-x: hidden;
}

#slider {
  background: center / cover url('../img/phare.jpg') no-repeat;
}

.title-line {
  font-size: 0.8em;
  color: #e95420;
  text-align: center;
}

hr {
  padding: 0 0 0 0;
  width: 25%;
  margin: -34px auto 5rem auto;
  border: 1px solid #d3d3d3;
}

#portfolio_homepage {
  background-color: #e9ecef;
}

#footer {
  background-color: rgb(110, 110, 110);
  color: white;
}

.icones-blanc {
  color: #fff;
}

.icones-gris {
  color: #f0f0f0;
}

.icones-orange {
  color: #e95420;
}

.carousel-item.active {
  display: block;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.custom-file-label::after{content: 'Parcourir' !important;}
/* .custom-file-input { opacity: 1; }
.custom-file-label { opacity: 0; } */