    <h1 class="mt-5 text-center display-5">{{ titlePage }}</h1>
    <p class="title-line">
        <span class="fa-stack">
            <i class="fas fa-circle  fa-stack-2x icones-blanc"></i>
            <i class="fas fa-circle fa-stack-1x"></i>
        </span>
    </p>
    <hr>