{% extends 'admin/base.html.twig' %}

{% block title %}
Modification d'une référence
{% endblock %}

{% block body %}
<div class="container">

    {% include 'admin/partials/titlePage.html.twig' with {'titlePage' : 'Modifier une référence' } %}

    {% include 'admin/portfolio/_form.html.twig' with {'btnForm' : 'Modifier' } %}

</div>
{% endblock %}