{% extends 'admin/base.html.twig' %}

{% block title %}
    Ajout d'une référence
{% endblock %}

{% block body %}
    <div class="container">

        {% include 'admin/partials/titlePage.html.twig' with {'titlePage' : 'Ajouter une référence' } %}
        
        {% include 'admin/portfolio/_form.html.twig' with {'btnForm' : 'Ajouter' } %}

</div>
{% endblock %}

{% block javascript %}
{# Pour afficher le nom du fichier - correction bug symfony -> bootstrap #}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
         // Affiche le nom du fichier
        $(document).ready(function () {
        bsCustomFileInput.init();
        })
</script>
{% endblock %}