{% extends 'admin/base.html.twig' %}

{% block title %}
    Ajout d'une référence
{% endblock %}

{% block body %}
    <div class="container">

        {% include 'admin/partials/titlePage.html.twig' with {'titlePage' : 'Ajouter une référence' } %}
        
        {% include 'admin/portfolio/_form.html.twig' with {'btnForm' : 'Ajouter' } %}

</div>
{% endblock %}