{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

<div class="container js-filter">

    {% include 'partials/titlePage.html.twig' with {'titlePage' : 'Réalisations' } %}

    <div class="row my-5">
        <div class="col-md-8 mx-auto">
            <nav class="btn-group js-filter-form nav flex-column flex-sm-row">
                {% include 'portfolio/_form.html.twig' %}
            </nav>

        </div>
    </div>

    <div class="row my-5 justify-content-around js-filter-content">
        {% include '/portfolio/_list.html.twig' with {'portfolios' : portfolios} %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/js/filter.js"></script>
{% endblock %}