{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'une référence
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'partials/titlePage.html.twig' with {'titlePage' : 'Ajouter une référence' } %}

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <p class="text-center">
            <button type="submit" class="btn btn-primary">Ajouter la référence</button>
        </p>

        {{ form_end(form) }}

</div>
{% endblock %}