<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header bg-light"><i class="fas fa-chart-line"></i> Dashboard</div>
    <div class="card-body">
        <p> <span class="badge badge-primary">{{ stats.users}}</span> utilisateurs actifs</p>
        <p> <span class="badge badge-primary">{{ stats.testimonials }}</span> témoignages non validés</p>
        <p> <span class="badge badge-primary">{{ stats.projects}}</span> projets en cours</p>
    </div>
</div>