{% extends 'admin/base.html.twig' %}

{% block title %}Liste des messages{% endblock %}

{% block body %}

<div class="container-fluid">
    {# {% include 'admin/partials/titlePage.html.twig' with { 'titlePage' : 'Liste des messages' } %} #}

    <p class="text-right mt-3">
        <a href="{{ path('admin_message_new') }}" class="btn btn-primary">Ajouter un message</a>
    </p>
    <div class="row ml-3">

        {# Filtre #}
        <div class="col-md-3">
            {% include 'admin/message/_filter.html.twig' with {'form' : form }%}
        </div>

        {# liste des messages #}
        <div class="col-md-9">
            {% include 'admin/message/_messages.html.twig' with {'messages' : messages} %}
        </div>

        {# {% include 'admin/partials/pagination.html.twig' with {'route' : 'admin_message_index'} %} #}
        <div class="navigation mt-3 mx-auto">
            {{ knp_pagination_render( messages ) }}
        </div>
    </div>
</div>
{% endblock %}