{% extends 'admin/base.html.twig' %}

{% block title %}
    Ajout d'un projet
{% endblock %}

{% block body %}
    <div class="container">

        {% include 'admin/partials/titlePage.html.twig' with {'titlePage' : 'Ajouter un projet' } %}

        {% include 'admin/project/_form.html.twig' with {'btnForm' : 'Ajouter' } %}

</div>
{% endblock %}