{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'un fichier{% endblock %}

{% block body %}
<div class="container">
    {% include 'admin/partials/titlePage.html.twig' with { 'titlePage' : 'Modification d\un fichier' } %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Modifier le fichier</button>

    {{ form_end(form) }}
</div>
{% endblock %}
{% block javascripts %}
<script>
    function(Maj) { 
    let fileName = $(this).val().split('\\').pop(); 
    $(this).next('.custom-file-label').addClass("selected").html(fileName); 
    };

    $('.custom-file-input').on('change', Maj());

</script>
{% endblock %}