{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une formation{% endblock %}

{% block body %}
<div class="container">

    {% include 'admin/partials/titlePage.html.twig' with { 'titlePage' : 'Modification d\'une formation' } %}

    {% include '/admin/training/_form.html.twig' with {'btnForm' : 'Modifier'} %}

</div>
{% endblock %}