{% extends 'admin/base.html.twig' %}

{% block title %}
    Ajout d'une formation
{% endblock %}

{% block body %}
<div class="container">
    {% include 'admin/partials/titlePage.html.twig' with { 'titlePage' : 'Ajouter une formation' } %}
    
    {{ form_start(form) }}

    {% include '/admin/training/_form.html.twig' %}

    <p class="text-center">
        <button type="submit" class="btn btn-primary">Créer la formation</button>
    </p>

    {{ form_end(form) }}


</div>
{% endblock %}