{% extends 'admin/base.html.twig' %}

{% block title %}
    Ajout d'une formation
{% endblock %}

{% block body %}
<div class="container">

    {% include 'admin/partials/titlePage.html.twig' with { 'titlePage' : 'Ajouter une formation' } %}

    {% include '/admin/training/_form.html.twig' with {'btnForm' : 'Créer'} %}

</div>
{% endblock %}