{% extends 'base.html.twig' %}

{% block title %}
Formateur développeur à Tours (37)
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/animations.css">
{% endblock %}

{% block body %}
<div class="col">
    <div class="row">
        <div class="col">
            {% include 'partials/titlePage.html.twig' with {'titlePage' : 'A propos'} %}
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-7 pt-5 mx-auto">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#skills">Compétences techniques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#formation">Formation initiale</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#teacher">Enseignant universitaire</a>
                </li>
            </ul>
            <!-- content -->
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show mt-3" id="skills">
                    <ul>
                        <li>Langages Web : HTML, CSS, MySQL, PHP, JavaScript</li>
                        <li>Framework / librairies : Bootstrap, jQuery, Symfony</li>
                        <li>CMS : WordPress, MoodleTM</li>
                        <li>Développement Windows : Windev®, Excel VBA, Access</li>
                        <li>Systèmes d’exploitation : Windows®, macOS®, iOS®, DSM (Synology)</li>
                    </ul>
                    <h5>Certifications</h5>
                    <ul>
                        <li>macOS</li>
                        <li>Excel VBA (TOSA 892/1000)</li>
                    </ul>
                </div>
                <div class="tab-pane fade mt-3" id="formation">
                    <ul>
                        <li>DESS (master 2) Management des communautés virtuelles et de l’intelligence collective via
                            les réseaux numériques (Université de Limoges). https://www.unilim.fr/</li>
                        <li>Maîtrise (master 1) de Sciences de Gestion (Université de Tours).
                            https://www.iae.univ-tours.fr/</li>
                        <li>DEUG Sciences Economiques (Université de Limoges). https://www.unilim.fr/</li>
                        <li>DUT Techniques de Commercialisation (IUT de Tours). https://www.iut.univ-tours.fr/</li>
                    </ul>
                </div>
                <div class="tab-pane fade mt-3" id="teacher">
                    <p>Depuis 2002, j’enseigne à l’Institut d’Administration des Entreprises (IAE, Faculté de Droit
                        d’Economie et des Sciences Sociales, Université de Tours) ainsi qu’à l’Ecole Universitaire de
                        Management de Rennes.</p>
                    <p>Cette activité me permet de faire partager mon expérience aux étudiants de Master 1 et 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 jumbotron">
            <h5>Mentions légales</h5>
            <p>
                Entreprise individuelle <br>
                22 bis, rue du Petit Bois <br>
                37550 Saint-Avertin <br>
                06 87 10 52 61
            </p>
            <p>
                Directeur de publication : Cyril Gallitre <br>
                Siret N°412 027 567 00046 <br>
                TVA Intracommunautaire : FR73412027567 <br>
                Centre de formation enregistré auprès du Préfet de la Région Centre sous le n° 24370149937 <br>
                Activité : 6202A <br>
                Déclaration CNIL N° 1579150
            </p>
            <p>
                Site hébergé par OVH.
            </p>
        </div>
    </div>
</div>
{% endblock %}