<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/all.min.js"></script>
    <title>Cyril Gallitre - {% block title %}Bienvenue !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="container-fluid p-0">

        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}


    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    {% block javascripts %}{% endblock %}

</body>

</html>