{% extends 'base.html.twig' %}

{% block title %}
Formateur développeur à Tours (37)
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/animations.css">
{% endblock %}

{% block body %}
<div class="col">
    <div class="row">
        <div class="col">
            {% include 'partials/titlePage.html.twig' with {'titlePage' : 'Contact'} %}
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-11 col-md-7 mx-auto bg-light p-3 mb-5 rounded">
            {{ form_start(form) }}

            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-paper-plane"></i> Envoyer</a>
            {{ form_end(form)}}

        </div>
    </div>
</div>
{% endblock %}