{% extends 'base.html.twig' %}

{% block title %}
    Formateur développeur à Tours (37)
{% endblock %}

{% block body %}
<!-- slider -->
<div class="p-3 text-center min-vw-95 min-vh-100" id="slider">

    <h1 class="display-3 p-5">Formateur développeur</h1>
    <p class="lead">Formations et sites web sur mesure</p>
    <br>
    <p>HTML - CSS - JavaScript - PHP - MySQL<br>
        Excel VBA - Windev - Power BI</p>
    <br>
    <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="#offer" role="button">Offre de services</a>
    </p>
</div>
<!-- end slider -->
<!-- Services -->
<div class="container mb-5">
    <!-- section title -->
    <br class="my-3" id="offer">
    <h2 class="mt-5 text-center display-4">Offre de services</h2>
    <p class="title-line">
        <span class="fa-stack">
            <i class="fas fa-circle  fa-stack-2x icones-blanc" data-fa-transform="grow-8"></i>
            <i class="fas fa-circle fa-stack-1x"></i>
        </span>
    </p>
    <hr>
    <!-- end of section title -->
    <div class="row mt-3">
        <!-- a card -->
        <div class="col-md-5">
            <div class="card mb-3">
                <h3 class="card-header">Formations</h3>
                <img style="max-height: 200px; width: 100%; display: block;" src="../img/formation.jpg"
                    alt="Card image">
                <div class="card-body">
                    <p class="card-text">Pour un centre de formation ou pour une entreprise, je vous propose des
                        formations en bureautique avancée et développement web.</p>
                </div>

                <div class="card-footer text-muted">
                    <a href="#" class="card-link">Voir tous les programmes</a>
                </div>
            </div>
        </div>
        <!-- end of a card -->
        <div class="col-md-2"></div>
        <!-- a card -->
        <div class="col-md-5">
            <div class="card mb-3">
                <h3 class="card-header">Développement</h3>
                <img style="max-height: 200px; width: 100%; display: block;" src="../img/formation.jpg"
                    alt="Card image">
                <div class="card-body">
                    <p class="card-text">Application web ou de bureau ? Vous avez le choix. Les sites sont
                        généralement développés en PHP/Symfony et les applications de gestion avec Windev ou Excel VBA.
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#portfolio" class="card-link">Découvrir des exemples</a>
                </div>
            </div>
        </div>
        <!-- end of a card -->

    </div>
</div>
<!-- End Services -->

<!-- Portfolio -->
<div id="portfolio" class="mt-5">
    <div class="container">
        <!-- section title -->
        <br class="my-3">
        <h2 class="mt-5 text-center display-4">Réalisations</h2>
        <p class="title-line">
            <span class="fa-stack">
                <i class="fas fa-circle  fa-stack-2x icones-blanc" data-fa-transform="grow-8"></i>
                <i class="fas fa-circle fa-stack-1x"></i>
            </span>
        </p>
        <hr>
        <!-- end of section title -->
        <div class="row mt-3">
            <!-- one ref -->
            <div class="col-md-4">
                <div class="card border-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">PHP : Poo et MVC</div>
                    <div class="card-body">
                        <h4 class="card-title">Blog pour écrivain</h4>
                        <img src="http://placehold.it/250x150" alt="" srcset="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div <!-- end one ref -->
            <!-- one ref -->
            <div class="col-md-4">
                <div class="card border-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Javascript</div>
                    <div class="card-body">
                        <h4 class="card-title">Réservation de vélo</h4>
                        <img src="http://placehold.it/250x150" alt="" srcset="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div>
            <!-- end one ref -->
            <!-- one ref -->
            <div class="col-md-4">
                <div class="card border-light mb-3" style="max-width: 20rem;">
                    <div class="card-header">Windev</div>
                    <div class="card-body">
                        <h4 class="card-title">Application de gestion</h4>
                        <img src="http://placehold.it/250x150" alt="" srcset="">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                </div>
            </div>
            <!-- end one ref -->
        </div>
    </div>
</div>
<!-- End Portfolio -->

{% endblock %}