{% for training in trainings %}
<!-- a card -->
<div class="card border-primary mb-3 mx-1" style="max-width: 20rem;">
    <div class="card-header">{{ training.theme.title}}</div>
    <div class="card-body">
        <a href="{{ path('training_show', { 'slug' : training.slug }) }}" class="card-link">
            <h4 class="card-title">{{ training.title }}</h4>
        </a>
        <p class="card-text">{{ training.excerpt }}</p>
    </div>
</div>
<!-- end of a card -->
{% endfor %}