{% extends 'base.html.twig' %}

{% block title %}Formations web et bureautique avancée{% endblock %}

{% block body %}

<div class="container">
    {% include 'partials/titlePage.html.twig' %}

    <div class="row my-5 justify-content-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Toutes</button>
            <button type="button" class="btn btn-secondary">Web</button>
            <button type="button" class="btn btn-secondary">Bureautique</button>
        </div>
    </div>


    <div class="row my-5 justify-content-around">
        {% for training in trainings %}
        <!-- a card -->
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">{{ training.title }}</h3>
                <img style="max-height: 200px; width: 100%; display: block;" src="../img/formation.jpg"
                    alt="Card image">
                <div class="card-body">
                    <p class="card-text">{{ training.excerpt }}
                    </p>
                </div>
                <div class="card-footer text-muted">
                    <a href="{{ path('training_show', { 'slug' : training.slug }) }}" class="card-link">En savoir plus</a>
                </div>
            </div>
        </div>
        <!-- end of a card -->

        {% endfor %}

    </div>
</div>
{% endblock %}