{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'une formation
{% endblock %}

{% block body %}
<div class="container">
    {% include 'partials/titlePage.html.twig' with { 'titlePage' : 'Ajouter une formetion' } %}
    
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Créer la formation</button>

    {{ form_end(form) }}


</div>
{% endblock %}